<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="sendPasswordResetRequest()">
        <div>
            <div class="fields">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="text"/>
                </mat-form-field>
            </div>
  
            <button color="primary" type="submit" mat-raised-button class="custom-button">Reset Password</button>
        </div>
        <div>
        <p><a (click)="showLogin()">Log in</a></p>
        </div>
    </form>
  </div>
  